
body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/12/208/964/sunset-seashore-4k-wallpaper-preview.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    font-weight: bold;
}
button{
    background-color: #CB8BE5;
    color: black;
    align-content: center;
}
marquee{
    color: black;
    font-weight: bold;
    font-size: 40px;
}
table{
    background-color: black;
    text-align: center;
    font-size: 100%;
    width: 100%;
}

#board{
    width: 300px;
    height: 300px;
}
.myRow{
    text-align: center;
    width: 300px;
    height: 30px;
}
.grid{
    width: 30px;
    height: 30px;
    border: #AE129D 5px solid;
    display: inline-block;
}
.position{
    display: inline-block;
}
.horizontal{
    width: 35px;
    height: 15px;
    border: blue 5px solid;
    background-color: blue
}
.vertical{
    width: 15px;
    height: 35px;
    border: blue 5px solid;
    background-color: blue;
    margin-top: 10px;
}
.selected{
    background-color: blue;
}
.hit{
    background-color: red;
}
.miss{
    background-color: gray;
}

#span2{
    font-size: 60pt;
    font-family: "Fredoka One";
}

.container #span2 {
  font-size: 100pt;
  color: black;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.container #span2::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}

.container #span2:hover {
  filter: contrast(250%);
}
.container #span2:nth-child(1){
    color: #ff0697;
}
.container #span2:nth-child(2){
    color: #00bef8;
}
.container #span2:nth-child(3){
    color: #0B25FF;
}
.container #span2:nth-child(4){
    color: #ff6e00;
}
.container #span2:nth-child(5){
    color: #8185B7;
}
.container #span2:nth-child(6){
    color: #FF0BF4;
}
.container #span2:nth-child(7){
    color: #FF0B0B;
}
.container #span2:nth-child(8){
    color: #0BFF34;
}
.container #span2:nth-child(9){
    color: #00FFD1;
}
.container #span2:nth-child(10){
    color: #F0FF01;
}
.container #span2:nth-child(11){
    color: #ff0697;
}
.container #span2:nth-child(12){
    color: #00bef8;
}
.container #span2:nth-child(13){
    color: #0B25FF;
}
.container #span2:nth-child(14){
    color: #ff6e00;
}
.container #span2:nth-child(15){
    color: #8185B7;
}
.container #span2:nth-child(16){
    color: #FF0BF4;
}
.container #span2:nth-child(17){
    color: #FF0B0B;
}
.container #span2:nth-child(18){
    color: #0BFF34;
}
.container #span2:nth-child(19){
    color: #00FFD1;
}
.container #span2:nth-child(20){
    color: #F0FF01;
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span5{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span5{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

#close-btn {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 0px;
  left: 278px;
  cursor: pointer;
  z-index:220;
  background-image: url('close.png');
  background-repeat: no-repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .boxi figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .boxi figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .boxi h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .boxi p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}